<div class="social-media-block" itemscope itemtype="http://schema.org/Organization">
  <link itemprop="url" href="{{ site_url }}">
  {% if social_media_links is not empty %}
    <ul class="social-media-block__content">
      {% for link in social_media_links %}
        <li>{{ link }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
