{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'social-media-share',
] %}
<div{{ attributes.addClass(classes) }} aria-label="Social media sharing">
  {% if links_prefix %}
    <div class="social-media-share__prefix">{{ links_prefix }}</div>
  {% endif %}
  <ul class="social-media-share__list">
    {% for link in social_media_links %}
      {% set linkClasses = [
        'social-media-share__link',
        'social-media-share__link--' ~link.title|lower,
      ] %}
      <li class="social-media-share__list-item">
        <a href="{{ link.url }}" {{ link.attributes.addClass(linkClasses) }}>
          <span>{{ link.title }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
  {% if links_suffix %}
    <div class="social-media-share__suffix">{{ links_suffix }}</div>
  {% endif %}
</div>
